{% load staticfiles %}

<script type="text/javascript" src="{% static 'javascripts/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/material.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-3.3.7-distjs/ripples.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'javascripts/angular-cookies.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>

<script type="text/javascript" src="{% static 'javascripts/thinkster.js' %}"></script>

